*{
    padding: 0;
    margin: 0;
    text-align: center;
}
html{
    min-height: 100vh;
    background-image: -webkit-linear-gradient(254deg, #fff 0%, #fff 50%);
    background-repeat: no-repeat;
    font-family: 'helvetica neue';

}

.box{
    max-width: 400px;
    border: none;
    background: grey;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -15px rgba(0, 0, 0, 0.3);
}

.nav-bar{
    color: #000;
}


/* nav bar */
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
nav ul li{
    font-size: 2rem;
    /* border: 3px solid #000; */
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 20px;
}
nav ul li:hover{
    transition: background-color 1s;
    color: #fff;
    background-color: #000;
}
/* nav bar */

#heading{
    text-align: center;
}

h1{
    border-radius: 5px;
    padding: 10px;
    color: #000;
}

.item{
    display: flex;
    align-items: center;
    min-height: 70px;
    border-bottom: 1px solid #000;
}
p{
    font-size: 20px;
    font-weight: 200px;
    color: #000;
}

.item:last-child{
    border-bottom: 0px;
}

input:checked+p{
    text-decoration: line-through;
    text-decoration-color: #fff;
}

input[type = "checkbox"]{
    margin: 20px;
}

input[type = "text"]{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
    height: 60px;
    border: none;
    color: #000;
    background: transparent;
}
input[type = "text"]:focus{
  outline: none;
  box-shadow: inset 0 -3px 0 0 #000;
}
::placeholder{
  color: #000;
  opacity: 1;
}
button{
  border-radius: 50%;
  width: 50px;
  min-height: 50px;
  border-color: transparent;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  border-width: 0px;
}
footer{
  color: white;
  color: (0, 0, 0, 0.5);
  text-align: center;
}

